<!-- フッター -->
<footer class="footer">
  <div class="footer__nav">
    <ul class="footer__nav-list">
      <li><a href="/">HOME</a></li>
      <li><a href="/service">SERVIS</a></li>
      <li><a href="/concept">CONCEPT</a></li>
      <li><a href="/works">WORKS</a></li>
      <li><a href="/contact">CONTACT</a></li>
      <li><a href="/company">COMPANY</a></li>
    </ul>
  </div>

  <div class="footer__sns">
    <a href="#"><img src="<%= asset_path('footer/icon-youtube.svg') %>" alt="YouTube"></a>
    <a href="#"><img src="<%= asset_path('footer/icon-instagram.svg') %>" alt="Instagram"></a>
    <a href="#"><img src="<%= asset_path('footer/icon-facebook.svg') %>" alt="Facebook"></a>
  </div>

  <div class="footer__bottom-row">
    <div class="footer__logo-bg">
      <!-- ロゴ画像を入れる場合ここにimgタグ -->
      <!-- <img src="path/to/logo.svg" alt="ロゴ"> -->
    </div>
    <div class="footer__policy">
      <a href="/privacy">プライバシーポリシー</a>
      <a href="/terms">利用規約</a>
    </div>
  </div>

  <div class="footer__pagetop">
    <a href="#top">▲</a>
  </div>

  <div class="footer__copyright">
    © 2025 リフォームの山田. All rights reserved.
  </div>
</footer>