/* reset.scss */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

// Fixed headerによる他のページのレイアウト調整
body {
  // トップページ以外でのヘッダー高さ分の余白を追加
  &:not(.top-page) {
    padding-top: 69.8px;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  border: none;
  background: none;
  appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}